*{
    background-color: #002b60;
}

.topnav {
    background-color: grey;
    height: 60px;
}

 a {
    float: right;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    background-color: grey;
    margin-right: 0.5%;
  } 

h1 {
    font-size: 30px;
    color: white;
}

input {
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 15px;
    height: 40px;
    width: 300px;
}

button{
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 15px;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 25px;
    color: white;
    background-color: #88bc47;
    height: 40px;
    width: 100px;
    margin-top: 2%;
    margin-bottom: 2%;
}

p{
    font-size: medium;
    color: red;
}